[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2 
	ignore=all

[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2 
	ignore=all
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
	ignore=all
